body{
    margin: 0;
    padding: 0;
}

.first-look{
    background-color: #2fdde4;
    height:690px;
}

.profile-pic{
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 110px;
    padding: 20px 10px;
}

.profile-pic img{
    height: 500px;
    width: 480px;
    border-radius: 100%;
}

.profile-details{
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 720px;
}

.profile-details p{
    margin: 0;
    color:white;
}

.profile-details p.i-am{
    font-size: 60px;
    font-family: 'Lato', sans-serif;
}

.profile-details h1.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    font-weight: 1000;
    margin: 0;
    color: #2fdde4;
    -webkit-text-stroke:2px #ffffff;
    text-align: left;
}

.profile-details p.profession{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 700;
}

.first-look .btn-cv{
    border: 2px solid white;
    display: inline-block;
    position: absolute;
    left: 789px;
    top: 586px;
    background-color:#2fdde4;
    border-radius: 30px;
    padding: 9px 20px;
}

.first-look .btn-contact{
    border: 2px solid white;
    display: inline-block;
    position: absolute;
    left: 972px;
    top: 586px;
    background-color:#2fdde4;
    border-radius: 30px;
    padding: 9px 20px;
}

.first-look a.cv{
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.first-look a.contact{
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.about-page{
    height: 700px;
}

.about-page h1.invisible-title{
    font-family: sans-serif;
    font-size: 180px;
    text-align: center;
    -webkit-text-stroke:1px #dee2e6;
    color: white;
    margin: 100px auto 0 auto;
}
.about-page p.title-about{
    display: inline-block;
    position:relative;
    left: 564px;
    bottom: 130px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    color: #2fdde4;
}
.about-page div.about-picture-box{
    display: inline-block;
    position: absolute;
    height: 400px;
    left: 140px;
}

.about-page div.about-picture-box .about-img{
    height: 400px;
    width: 400px;
    position: relative;
    bottom: 20px;
    border-radius: 20px;
}

.about-page div.about-detail-box{
    display: inline-block;
    position: absolute;
    left: 600px;
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 8px;
    border-radius: 20px;
    font-size: 18px;
}

.about-page div.about-detail-box p.title{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #343a40;
    margin: 0;
}
.about-page div.about-detail-box p.summery{
    font-family: sans-serif;
    margin: 20px 0 0 10px;
    padding-right: 20px;
    text-align: justify;
}

